<% content_for :meta_title, "#{@profile.username}'s collection" %>
<% content_for :meta_description, "Check out #{@profile.username}'s boardgame collection" %>

<div class="container">
  <% if current_user == @profile.user %>
    <%= render 'shared/bgsearch' %>
    <p><strong>Your Current Boardgames</strong></p>
  <% else %>
    <p> <%= @profile.username %>'s collection</p>
  <% end %>
  <div class="bg-display text-center row">
    <% @boardgames.each do |bg| %>
      <div class="bg-show">
        <%= link_to bg.name, boardgame_path(bg) %>
        <%= link_to image_tag(bg.thumb_url, class: "boardgame-thumb"), boardgame_path(bg)  %>
        <% if current_user == @profile.user %>
          <%= link_to('<i class="fal fa-minus-circle"></i>'.html_safe, boardgame_path(bg), method: :delete, data: { confirm: "Are You Sure?"})%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
