<div class="container">
  <div class= "form text-center">
    <%= simple_form_for(@boardgame, url: boardgames_search_path) do |f| %>
    <p>Add your Boardgames to our Collection</p>
        <%= f.input_field :name, label: false, placeholder: "Name of Boardgame", class: "input-field" %>
        <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <p>Your Current Boardgames </p>
  <div class="bg-display text-center row">
    <% @boardgames.each do |bg| %>
      <div class="bg-show">
        <%= link_to bg.boardgame.name, boardgame_path(bg.boardgame) %>
        <%= link_to image_tag(bg.boardgame.thumb_url, class: "boardgame-thumb"), boardgame_path(bg.boardgame)  %>
        <%= link_to('<i class="fal fa-minus-circle"></i>'.html_safe, boardgame_path(bg.boardgame), method: :delete, data: { confirm: "Are You Sure?"})%>
      </div>
    <% end %>
  </div>
</div>
