<div class="text-center">
  <div class="hero-banner">
      <div class="title-header">
        <p>Let's Play</p>
      </div>
      <div class="title-tagline">
        <p>TABLETOP GAMES</p>
      </div>
      <div class= "form text-center">
        <%= simple_form_for(@boardgame) do |f| %>
        <p>Add your Boardgames to our Collection</p>
            <%= f.input_field :name, label: false, placeholder: "Name of Boardgame", class: "input-field" %>
            <%= f.submit "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="link">
        <%= link_to "View All Games", boardgames_path, class: "btn btn-info"  %>
      </div>
  </div>
  <div class="container">
    <p>Some of our selection: </p>
      <div class="bg-display row">
        <% @boardgames.sample(5).each do |bg| %>
          <div class="bg-show">
            <%= link_to bg.name, boardgame_path(bg) %>
            <%= link_to image_tag(bg.thumb_url, class: "boardgame-thumb"), boardgame_path(bg)  %>
          </div>
        <% end %>
      </div>
  </div>
</div>
