<div class="container text-center">

  <p>Search For Your Boardgames</p>
  <div class= "form">
    <%= simple_form_for(@boardgame) do |f| %>
        <%= f.input :name %>
        <%= f.submit %>
    <% end %>
  </div>
  <p>My Current Boardgames: </p>
    <div class="bg-display row">
      <% @boardgames.order(:name).each do |bg| %>
        <div class="bg-show">
          <%= link_to image_tag(bg.thumb_url, class: "boardgame-thumb"), boardgame_path(bg)  %>
          <%= link_to bg.name, boardgame_path(bg) %>
          <%= link_to("Remove", boardgame_path(bg), method: :delete, data: { confirm: "Are You Sure?"})%>
        </div>
      <% end %>

    </div>
</div>
