<div class="container">
  <div class="bg-content">
    <div class="bg-header">
      <strong><%= @boardgame.name %></strong>
    </div>
    <div id="aff-link">
      <a type=amzn search="<%= @boardgame.name %>" category="toys">Buy <%= @boardgame.name %></a>
    </div>
      <%= image_tag(@boardgame.img_url, class: "bg-image") %>
    <div class="bg-description">
      <p><strong>Description:</strong></p>
      <%= @boardgame.description.html_safe %>
    </div>
    <div class="bg-details">
      <div class="bg-gameplay">
        <p>Game Play Details</p>
        <ul>
          <li>Year Published: <%= @boardgame.year_published %></li>
          <li>Players: Between <%= @boardgame.min_players %> to <%= @boardgame.max_players %></li>
          <li>Minimum Gameplay: <%= @boardgame.min_playtime %> minutes</li>
          <% unless @boardgame.min_playtime == @boardgame.max_playtime%>
            <li>Maximum Gameplay: <%= @boardgame.max_playtime %> minutes</li>
          <% end %>
          <li>Minimum Age: <%= @boardgame.min_age %> years old</li>
        </ul>
      </div>
      <% unless @boardgame.mechanics.blank? %>
        <div class="mechanic-list">
          <p> Mechanics </p>
          <ul>
            <% @mechanics.each do |mechanic| %>
            <li><%= mechanic.mechanic.name %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% unless @boardgame.categories.blank? %>
        <div class="category-list">
          <p> Categories </p>
          <ul>
            <% @categories.each do |category| %>
            <li><%= category.category.name %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <% unless @images.blank? %>
    <!-- Bootstrap Image Gallery with indicators -->
      <div id="game-image-carousel" class="carousel slide images" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @images.map do |image, index| %>
            <li data-target="#game-image-carousel" data-slide-to="<%= index %>"
              class="<%= index == 0 ? 'active' : '' %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @images.each do |image| %>
          <div class="carousel-item <%= 'active' if image == @images.first %>">
            <%= image_tag(image.medium, class: "d-block image-gallery-item") %>
          </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#game-image-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#game-image-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>
    <% unless @video.blank? %>
      <div class="videos">
        <%= get_video_iframe(@video.url) %>
      </div>
    <% end %>
    <div class="request">
    <p class="text-center">Who Has A Copy?</p>
        <% @owners.each do |owner| %>
          <a href=""  data-toggle="modal" data-target="#modalContactForm<%=owner.id%>">
            <div class="text-center modal-link"><%= owner.username %></div>
          </a>
          <div class="modal fade" id="modalContactForm<%=owner.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <p class="modal-title w-100 font-weight-bold">View <%= link_to "#{owner.username}'s", profile_path(owner)  %> games or Send A Message </p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= form_tag conversations_path, method: :post do %>
                <div class="modal-body mx-3">
                  <div class="md-form mb-1">
                    Send To: <%= text_field_tag :user, owner.username, disabled: true %>
                    <input type="hidden" id="user" name="user_id" value="<%= owner.user.id %>">
                  </div>
                  <div class="md-form mb-2">
                    <%= text_field_tag :subject, nil, value: "Subject: #{@boardgame.name}", class: "form-control validate" %>
                  </div>
                  <div class="md-form">
                    <%= text_area_tag :body, nil, placeholder: "Let them know when you'd like to play",
                    class: "md-textarea form-control" %>
                  </div>
                  <input type="hidden" id="user_id" name="user" value="">
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button class="btn btn-unique">Send <i class="fas fa-paper-plane ml-1"></i></button>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

    </div>
  </div>
</div>
